<div class="row show-grid">

	<div tiles:include="breadcrumbs"></div>

	<div class="span12">
		<div class="row show-grid clear-both">

			<div tiles:include="sidebar"></div>

			<div class="span9 main-column">

				<h1 th:text="${album.name}+' - Galerija'">Galerija</h1>
				<div class="text-divider6">
					<span></span>
				</div>
				
				<div tiles:include="share"></div>

				<div class="span7">
					<a th:href="@{'/spisak-auto-skola/' + ${school.uniqueName} + '/galerija'}">
						<i class="icon-arrow-left"></i> nazad na galeriju
					</a>
				</div>
				
				<!-- Nesvrstane slike -->
				<div class="portfolio-grid-1 main-block col-wrapper">

					<ul id="gallery-main" class="thumbnails gallery">
						<li class="span3 small hp-wrapper item" th:each="image : ${images}"><a
							th:href="@{/resource(path=${image.path})}" rel="group" class="top-link thumbnail"> <img
								alt="" th:src="@{/css/bootstrap/img/gal_hover.png}" class="hover-shade" /> <img alt=""
								style="width: 220px; height: 160px;" th:src="@{/resource(path=${image.path})}" />
						</a></li>

					</ul>

				</div>
			</div>
		</div>
	</div>

</div>