<div th:if="${confirmed==true}">
	<div>
		<div id="breadcrumb">
			<ul>
				<li class="home"><a th:href="@{/}">Glavna</a></li>
				<li>Uspešna potvrda obaveštenja</li>
			</ul>
		</div>
	</div>

	<h1>Uspešno ste potvrdili obaveštenje</h1>

	<div class="text-divider6">
		<span></span>
	</div>

	<div class="alert alert-success">

		<h2>Hvala na potvrdi</h2>

		<p>Uspešno ste potvrdili obaveštenje "<span th:text="${notificationTitle}"></span>" Vaše auto škole "<span th:text="${schoolName}"></span>".</p>

	</div>

	<a th:href="@{/uloguj-se}">Kliknite ovde da biste se ulogovali ili registrovali.</a>

	<br />
	<br />

</div>

<div th:if="${confirmed==false}">
	<div>
		<div id="breadcrumb">
			<ul>
				<li class="home"><a th:href="@{/}">Glavna</a></li>
				<li>Neuspešna potvrda obaveštenja</li>
			</ul>
		</div>
	</div>

	<h1>Obaveštenje nije potvrđeno</h1>

	<div class="text-divider6">
		<span></span>
	</div>

	<div class="alert alert-error">

		<h2>Greška pri potvrdi</h2>

		<p th:if="${error==false}">Na žalost, obaveštenje nije uspešno potvrđeno.</p>
		
		<p th:if="${error==true}"><span th:text="${errorDescription}"></span></p>

	</div>

	<a th:href="@{/uloguj-se}">Kliknite ovde da biste se ulogovali ili registrovali.</a>

	<br />
	<br />

</div>