<!-- BEGIN LEFT-SIDEBAR -->
<div id="left-sidebar" class="span3 sidebar">
	<!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
	<div class="side-nav sidebar-block">
		<h2 th:text="${school.name}">Pages</h2>
		<ul> 
			<li th:class="${pageInfo.name == 'profil'} ? 'active'" class="active"><a href="#"
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/profil-auto-skole'}"><i class="icon-info-sign"></i> Osnovne
					informacije</a></li>
			<li th:if="${contactAllowed}" th:class="${pageInfo.name == 'kontakt'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/kontakt-auto-skole'}"><i class="icon-phone"></i> Kontakt</a></li>
			<li th:if="${carsAllowed}" th:class="${pageInfo.name == 'vozni-park'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/vozni-park-auto-skole'}"><i class="icon-truck"></i> Vozni
					park</a></li>
			<li th:if="${notificationsAllowed}" th:class="${pageInfo.name == 'obavestenja'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/obavestenja-auto-skole'}"><i class="icon-comments"></i> Obaveštenja</a></li>
			<li th:if="${teamAllowed}" th:class="${pageInfo.name == 'tim'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/tim-auto-skole'}"><i class="icon-group"></i> Naš tim</a></li>
			<li th:if="${galleryAllowed}" th:class="${pageInfo.name == 'galerija'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/galerija'}"><i class="icon-picture"></i> Galerija</a></li>
			<li th:if="${marksAllowed}" th:class="${pageInfo.name == 'ocene'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/ocene-auto-skole'}"><i class="icon-thumbs-up"></i> Utisci
					učenika</a></li>
			<li th:if="${pricesAllowed}" th:class="${pageInfo.name == 'cenovnik'} ? 'active'"><a
				th:href="@{'/spisak-auto-skola/'+ ${school.uniqueName} + '/upis-i-cene'}"><i class="icon-money"></i> Cenovnik</a></li>
		</ul>
	</div>
</div>
<!-- END LEFT-SIDEBAR -->