<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Novo obaveštenje autoškole sa Sajta VozaciSrbije.com</title>
	</head>
	<body>
		<div bgcolor="#3573b9" style="margin:0;padding:0;background:#3573b9;background-color:#3573b9">
			<div style="margin:0;padding:0;background:#3573b9;background-color:#3573b9">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td height="40">&nbsp;</td>
						</tr>
						<tr>
							<td align="center" valign="top" width="100%">
								<table border="0" width="650" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td align="left" valign="top">
												<table bgcolor="#1c4e88" border="0" width="100%" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td width="20">&nbsp;</td>
															<td height="20">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
														<tr>
															<td width="20">&nbsp;</td>
															<td align="center" valign="top">
																<table border="0" width="100%" cellpadding="0" cellspacing="0">
																	<tbody>
																		<tr>
																			<td style="padding-top:15px;padding-bottom:5px;color:#ffffff;font-size:27px;font-family:arial,sans" align="center" valign="top">Zdravo $name,
																			</td>
																		</tr>
																		<tr>
																			<td style="color:#8cb3c9;font-size:17px;font-family:arial,sans" align="center" valign="top">auto škola "$drivingSchoolName" Vam je poslala obaveštenje sa Sajta VozaciSrbije.com. Kompletan sadržaj obaveštenja možete naći ispod kao i na Sajtu. Takođe, auto škola je zatražila potvrdu da ste pročitali obaveštenje te Vas molimo da potvrdite isto klikom na link ispod. Hvala unapred.</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td width="20">&nbsp;</td>
														</tr>
													</tbody>
												</table>

												<table bgcolor="#1c4e88" border="0" height="46" width="100%" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td height="46">
																<img src="$mailImagesCell" style="display:block;border:0" height="46" width="100%">
															</td>
														</tr>
													</tbody>
												</table>

												<table bgcolor="#eeeeee" border="0" width="100%" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td width="20">&nbsp;</td>
															<td height="20">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
														<tr>
															<td width="20">&nbsp;</td>
															<td align="left" valign="top" colspan="4">
																<table border="0" width="100%" cellpadding="0" cellspacing="0">
																	<tbody>
																		<tr>
																			<td style="color:#3f6085;font-size:12.5px;font-family:arial,sans;line-height:17px;" align="justified" valign="top">
																					$notificationText
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td width="20">&nbsp;</td>
														</tr>
														<tr>
															<td width="20">&nbsp;</td>
															<td height="20">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
														<tr>
															<td width="20" height="40">&nbsp;</td>
															<td height="40" align="center" style="color:#333;font-size:16px;font-family:arial,sans;line-height:17px;text-decoration:none"> 
																<a href="$confirmationLink" target="_blank">
																	Potvrdi obaveštenje
																</a>
																			
															</td>
															<td width="20" height="40">&nbsp;</td>
														</tr>
														
														<tr style="font-size:5px;">
															<td width="20">&nbsp;</td>
															<td height="10">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
														
													</tbody>
												</table>
												
												<table bgcolor="#d4eaef" border="0" width="100%" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td width="20">&nbsp;</td>
															<td height="20">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
														
														<tr>
															<td width="20">&nbsp;</td>
															<td>
																<table bgcolor="#d4eaef" border="0" width="100%" cellpadding="0" cellspacing="0">
																	<tr>
																		<td width="150">
																		</td>
																		<td width="60" align="right" valign="middle">
																			<a href="https://www.facebook.com/VozaciSrbijeOfficial" target="_blank">
																				<img width="48" src="$mailImagesFbLogo" style="display:block;border:4;color:black">
																			</a>
																		</td>
																		<td width="60">
																		</td>
																		<td width="60" align="center" valign="middle">
																			<a href="https://twitter.com/VozaciSrbije" target="_blank">
																				<img width="48" src="$mailImagesTwLogo" style="display:block;border:4;color:black">
																			</a>
																		</td>
																		<td width="60">
																		</td>
																		<td width="60" align="left" valign="middle">
																			<a href="https://plus.google.com/+Voza%C4%8DiSrbije/" target="_blank">
																				<img width="48" src="$mailImagesGoLogo" style="display:block;border:4;color:black">
																			</a>
																		</td>
																		<td width="150">
																		</td>
																	</tr>
																</table>
															</td>
															<td width="20">&nbsp;</td>
														</tr>
														
														<tr>
															<td width="20">&nbsp;</td>
															<td height="20">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
														
														<tr>
															<td width="20">&nbsp;</td>
															<td align="center" valign="top">
																<table border="0" width="100%" cellpadding="0" cellspacing="0">
																	<tbody>
																		<tr>
																			<td style="color:#3f6085;font-size:23px;font-family:arial,sans" align="center" valign="top">
																				<a href="http://www.vozacisrbije.com/" style="color:#333;font-size:12.5px;font-family:arial,sans;line-height:17px;text-decoration:none" target="_blank">
																					<img src="$mailImagesLogo" style="display:block;border:4;color:black"> 
																				</a>
																			</td>
																		</tr>
																		
																	</tbody>
																</table>
															</td>
															<td width="20">&nbsp;</td>
														</tr>
														
														<tr>
															<td width="20">&nbsp;</td>
															<td height="20">&nbsp;</td>
															<td width="20">&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
							
				<div>&nbsp;</div>

				<div>&nbsp;</div>
			</div>

			<div>&nbsp;</div>
		</div>
	</body>
</html>