<!-- ADDTHIS BUTTON BEGIN -->
<script type="text/javascript"
	src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5398de126cda02d4"></script>

<div align="right">

	<div class="addthis_toolbox addthis_default_style">
		<style>
div.addthis_toolbox {
	margin: 0 auto;
	height: 30px;
}
</style>

		<script type="text/javascript">
			//addthis_config.pubid = "ra-5398de126cda02d4";
			var addthis_config = {
				pubid : "ra-5398de126cda02d4",
				ui_language : "en",
				ui_cobrand : "VozaciSrbije"
			}
		</script>
		<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:width="115" fb:like:action="like" fb:like:send="true"
			fb:like:share="true" th:attr="fb:like:title='Vozači Srbije | ' + ${pageInfo.title}, fb:like:description=${pageInfo.fbDescription}, 
			fb:like:image=${pageInfo.fbImage}"  fb:like:app_id="534980683232362"></a>

	</div>
	<br /> <br />
</div>
