<div class="row show-grid">

	<div tiles:include="breadcrumbs"></div>

	<div class="span12">
		<div class="row show-grid clear-both">

			<div tiles:include="sidebar"></div>

			<!-- BEGIN ARTICLE CONTENT AREA -->
			<div class="span9 main-column two-columns-left">

				<h1>Resetovanje šifre</h1>
				<div class="text-divider6">
					<span></span>
				</div>

				<div id="prFieldset" th:if="${tokenValid==true}">
					<fieldset>
						<legend>Unesite novu šifru u prvo polje i ponovite je u drugom polju za unos.</legend>
						<div id="prValidationMessage" style="display: none" class="alert alert-error"></div>
						<div class="well">
							<form id="prForm" class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="prPassword1">Nova šifra</label>
									<div class="controls">
										<input type="password" id="prPassword1" name="prPassword1"
											data-message="Unesite novu šifru" />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="prPassword2">Ponovi šifru</label>
									<div class="controls">
										<input type="password" id="prPassword2" name="prPassword2"
											data-message="Unesite ponovljenu šifru"></input>
									</div>
								</div>

							</form>
						</div>
						<button id="prButton" class="btn btn-primary pull-right">Sačuvaj</button>
					</fieldset>
				</div>

				<div id="prSuccessMessage" class="alert alert-success" style="display: none">
					<h2>Uspešno ste promenili šifru</h2>
				</div>

				<div class="alert alert-error" th:if="${tokenValid==false}">
					<h2>Neuspešna izmena šifre</h2>
					<p>Pokušajte ponovo. Moguće je da je istekao link koji ste dobili u mailu te vam je
						potreban novi ili ste već izmenili šifru preko ovog linka.</p>
				</div>


				<br />

				<a th:href="@{/resetuj-sifru}" th:if="${tokenValid==false}">Kliknite ovde da biste ponovo
					poslali zahtev za izmenom šifre.</a> <a th:href="@{/uloguj-se}" th:if="${tokenValid==true}">Kliknite
					ovde da biste se ulogovali.</a>

				<br />
				<br />
				<br />

			</div>
		</div>
	</div>
</div>
<script th:src="@{/scripts/resetPassword.js}"></script>