<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
<div class="bannercontainer">
	<div class="banner">
		<ul>
			<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE STYLE=BOXFADE] -->
			<li class="slide1" data-transition="boxfade" data-slotamount="5"
				data-masterspeed="300"><img alt=""
				th:src="@{/images/slider/slide01.png}" />
				<div class="caption sft carousel-caption" data-x="500" data-y="110"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none;">
					<p class="middle">Jednostavan način da se pripremite</p>

				</div>
				<div class="caption sfl carousel-caption" data-x="500" data-y="141"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">Web aplikacija</p>
				</div>
				<div class="caption sfl carousel-caption" data-x="500" data-y="191"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">za pripremu za polaganje</p>
				</div>
				<div class="caption sfb carousel-caption" data-x="500" data-y="247"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; width: 436px;">
					<p class="small">Jednostavno i zabavno pripremite se za
						polaganje teorijskog ispita!</p>
				</div></li>
			<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 2 [SLIDE STYLE=LEFT] -->
			<li class="slide2" data-transition="slideleft" data-slotamount="10"
				data-masterspeed="300"><img alt=""
				th:src="@{/images/slider/slide02.png}" />
				<div class="caption sft carousel-caption" data-x="72" data-y="69"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none;">
					<p class="middle">Učite i testirajte svoje znanje</p>

				</div>
				<div class="caption sfr carousel-caption" data-x="62" data-y="107"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">Učenje može</p>
				</div>
				<div class="caption sfl carousel-caption" data-x="62" data-y="156"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">biti zabavno!</p>
				</div>
				<div class="caption sfb carousel-caption" data-x="74" data-y="222"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; width: 436px;">
					<p class="small">Pratite svoj napredak u učenju i testiranju</p>
				</div></li>
			<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 3 [SLIDE STYLE=SLIDE DOWN] -->
			<li class="slide3" data-transition="slidedown" data-slotamount="1"
				data-masterspeed="300"><img alt=""
				th:src="@{/images/slider/slide03.png}" />
				<div class="caption sft carousel-caption" data-x="500" data-y="144"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; padding-left: 0;">
					<p class="middle">Testirajte, testirajte, testirajte...</p>
				</div>
				<div class="caption sfl carousel-caption" data-x="500" data-y="188"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none; padding-left: 0; width: 781px;">
					<p class="big">Jednostavno testirajte</p>
				</div>
				<div class="caption sfl carousel-caption" data-x="500" data-y="228"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none; padding-left: 0; width: 781px;">
					<p class="big">svoje znanje!</p>
				</div>
				<div class="caption sfb carousel-caption" data-x="0" data-y="281"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; padding-left: 0; width: 100%;">
					<p class="small">Mi možemo za vas pamtiti dokle ste stigli i
						kako vam ide!</p>
				</div></li>
			<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 4 [SLIDE STYLE=BOXFADE] -->
			<li class="slide4" data-transition="boxfade" data-slotamount="5"
				data-masterspeed="300"><img alt=""
				th:src="@{/images/slider/slide04.png}" />
				<div class="caption sft carousel-caption" data-x="545" data-y="78"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none;">
					<p class="middle">Učite ono što vi hoćete</p>

				</div>
				<div class="caption sfl carousel-caption" data-x="526" data-y="107"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">Učite pametno</p>
				</div>
				<div class="caption sfb carousel-caption" data-x="542" data-y="165"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; width: 436px;">
					<p class="small">Sami kontrolišete koje oblasti želite učiti,
						šta želite ponavljati, koliko puta želite raditi testiranje itd.</p>
				</div></li>
			<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 5 [SLIDE STYLE=SLOTFADE HORIZONTAL] -->
			<li class="slide5" data-transition="slotfade-horizontal"
				data-masterspeed="300" data-slotamount="20"><img alt=""
				th:src="@{/images/slider/slide05.png}" />
				<div class="caption sft carousel-caption" data-x="468" data-y="71"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; padding-left: 0;">
					<p class="middle">Testirajte ono što ste učili</p>
				</div>
				<div class="caption sfr carousel-caption" data-x="454" data-y="105"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">Testirajte svoje znanje</p>
				</div>
				<div class="caption sfr carousel-caption" data-x="454" data-y="154"
					data-speed="1000" data-start="1000" data-easing="easeOutBack"
					style="background: none;">
					<p class="big">na najbolji način</p>
				</div>
				<div class="caption sfb carousel-caption" data-x="480" data-y="268"
					data-speed="1000" data-start="1000" data-easing="easeInBack"
					style="background: none; padding-left: 0;">
					<p class="small">
						Birajte sami koja pitanja hoćete da uključite u testiranje, koje
						oblasti, kategorije... <br /> Testirajte samo pitanja koja ste
						spremali ili samo pitanja koja ste najviše ponavljali
					</p>
				</div></li>

		</ul>
		<div class="tp-bannertimer"></div>
	</div>
</div>

<br/>

<div class="row main-block">

	<div class="span12">

		<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
		<h1>Dobrodošli među vozače Srbije!</h1>
		<h2>Pravo mesto za buduće i već iskusne vozače</h2>
		<p>Ukoliko ste vozač naš sajt će vam pomoći da dođete do važnih
			informacija vezanih za saobraćaj, pravila i zakone saobraćaja,
			informacije o saobraćajnim dokumentima i još mnogo toga. Ukoliko ste
			budući vozač i spremate se za polaganje vožnje, naš sajt će vam
			pomoći u učenju za teorijski ispit i u testiranju vašeg znanja. Ako
			tek planirate da se upišete u auto školu na pravom ste mestu da se
			informišete o auto školama, cenama polaganja, obavezama i procedurama
			koje morate da prođete da biste se upisali i uspešno došli do
			dozvole.</p>

	</div>
</div>

<hr />

<div class="row main-block">
	<div class="span12">
		<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO LIST -->
		<div class="row show-grid hero-list features-list">
			<div class="span3">
				<div class="image-wrapper">
					<img alt="" th:src="@{/images/home/app_on_laptop_100.jpg}" />
				</div>
				<h2>Web aplikacija</h2>
				<p>
					Učite preko web aplikacije direktno iz vašeg browsera. Posebno
					prilagođena aplikacija za registrovane korisnike sa vođenjem
					evidencije o napretku, učenjem i testiranjem znanja. <a
						th:href="@{/app/index.html}">Idi na aplikaciju&nbsp;»</a>
				</p>
			</div>
			<div class="span3">
				<div class="image-wrapper">
					<img alt="" th:src="@{/images/home/app_on_phone_100.png}" />
				</div>
				<h2>Mobilna aplikacija</h2>
				<p>
					Učite koristeći vaš android mobilni telefon ili tablet. Posebno
					prilagođena aplikacija za registrovane korisnike sa vođenjem
					evidencije o napretku, učenjem i testiranjem znanja.<a
						href="https://play.google.com/store/apps/details?id=air.EDTFlexMobile">Idi
						na Google Play&nbsp;»</a>
				</p>
			</div>
			<div class="span3">
				<div class="image-wrapper">
					<img alt="" th:src="@{/images/home/daily_test_100.jpg}" />
				</div>
				<h2>Test dana</h2>
				<p>
					Polažite svaki dan novi test zajedno sa ostalim takmičarima. Kroz
					detaljne rezultate svakog testa učite dok se takmičite i
					zabavljate. Nova top lista svaki dan.<a th:href="@{/test-dana}">Idi
						na test dana&nbsp;»</a>
				</p>
			</div>
			<div class="span3">
				<div class="image-wrapper">
					<img alt="" th:src="@{/images/home/book_100.jpg}" />
				</div>
				<h2>Čitanje na sajtu</h2>
				<p>
					Pronađite sva pitanja direktno na našem sajtu. Sva pitanja možete
					naći svrstana po kategorijama vozila i kategorijama pitanja. <a
						th:href="@{/priprema-za-vozacki-ispit-testovi}">Idi na
						pitanja&nbsp;»</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12 title-wrapper">
		<h2>Aktivnosti poslednjih 7 dana</h2>
	</div>
</div>

<!-- MAIN BLOCK 2 -->
<div class="row main-block features-block mini-blocks">

	<div class="span3 block1">
		<div class="mini-wrapper">
			<h2>Aplikacija za učenje</h2>
			<div>
				<span class="badge badge-important" th:text="${activeStudents}">55</span>
				aktivnih učenika
			</div>
			<br/>
			<a th:href="@{/online-ucenje}">Idi na aplikaciju »</a>
		</div>
	</div>

	<div class="span3 block2">
		<div class="mini-wrapper">
			<h2>Dnevni testovi</h2>
			<div>
				<span class="badge badge-success" th:text="${dailyTestResultsCount}">233</span>
				polaganja
			</div>
			<br/>
			<a th:href="@{/test-dana}">Idi na test dana »</a>
		</div>
	</div>

	<div class="span3 block2">
		<div class="mini-wrapper">
			<h2>Probni testovi</h2>
			<div>
				<span class="badge badge-info" th:text="${realTestResultsCount}">443</span>
				polaganja
			</div>
			<br/>
			<a th:href="@{/testovi}">Idi na probne testove »</a>
		</div>
	</div>

	<div class="span3 block3">
		<div class="mini-wrapper">
			<h2>Maraton testovi</h2>
			<div>
				<span class="badge badge-warning"
					th:text="${marathonTestResultsCount}">123</span> polaganja
			</div>
			<br/>
			<a th:href="@{/maraton}">Idi na maraton testove »</a>
		</div>
	</div>
</div>

<hr />

<div class="row main-block">
	<div class="span12">
		<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
		<div class="row show-grid hero-list"
			style="text-align: left; margin-bottom: 0px">
			<div class="span3">
				<div class="image-wrapper">
					<div class="img">
						<img alt="" th:src="@{/images/herolist/students.png}" />
					</div>
				</div>
				<div class="image-text">
					<h2>Za buduće učenike</h2>
					<p>
						Lako ćete pronaći informacije o auto školama, cenama, uslovima,
						utiscima drugih polaznika o autoškolama i još mnogo toga. <a
							th:href="@{/pomoc/za-buduce-ucenike}">saznaj više</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="span3">
				<div class="image-wrapper">
					<div class="img">
						<img alt="" th:src="@{/images/herolist/book.png}" />
					</div>
				</div>
				<div class="image-text">
					<h2>Za učenike
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
					<p>
						Spremite se za polaganje teorijskih testova. Pronađite informacije
						o procedurama polaganja, dešavanjima i obaveštenjima vaše auto
						škole. <a th:href="@{/pomoc/za-ucenike}">saznaj više</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="span3">
				<div class="image-wrapper">
					<div class="img">
						<img alt="" th:src="@{/images/herolist/highway.png}" />
					</div>
				</div>
				<div class="image-text">
					<h2>Za vozače
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
					<p>
						Podsetite se na zabavan i interesantnan način pravila saobraćaja,
						informišite se o dokumentima, procedurama, pravilima i još mnogo
						toga. <a th:href="@{/pomoc/za-vozace}">saznaj više</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="span3">
				<div class="image-wrapper">
					<div class="img">
						<img alt="" th:src="@{/images/herolist/tahometar.png}" />
					</div>
				</div>
				<div class="image-text">
					<h2>Za auto škole &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
					<p>
						Predstavite vašu auto školu svim potencijalnim, sadašnjim i
						budućim polaznicima kroz osnovne informacije, svoj time, vozni
						park, slike, obaveštenja, cenovnike... <a
							th:href="@{/pomoc/za-auto-skole}">saznaj više</a>
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<hr />

	</div>
</div>

<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOACK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
<div class="main-block block-posts">
	<div class="title-wrapper">
		<h2>Najnoviji članci</h2>
		<a th:href="@{/vesti}" class="all">Vidi sve članke&nbsp;&raquo;</a>
	</div>
	<div class="row show-grid clear-both">
		<div class="span12">
			<div class="row show-grid">

				<div class="span3" th:each="page : ${pages}">
					<a class="block-post-img" th:href="@{'/vesti/'+${page.uniqueName}}">
						<img alt="" th:src="@{/resource(path=${page.smallImagePath})}"
						class="img-rounded" />

					</a> <a class="block-post-title"
						th:href="@{'/vesti/'+${page.uniqueName}}" th:text="${page.title}">Naslov</a>
					<p class="block-post-date"
						th:text="${#dates.format(page.creationDate, 'dd/MM/yyyy HH:mm')}">July
						25, 2012</p>
					<p class="block-post-content" th:text="${page.smallPreview}">Neki
						tekst</p>
					<a class="block-post-more"
						th:href="@{'/vesti/'+${page.uniqueName}}" href="#">Idi na
						članak&nbsp;&raquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>

<hr />

<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOACK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
<div class="main-block block-posts">
	<div class="title-wrapper">
		<h2>Najnovija obaveštenja auto škola</h2>
		<a th:href="@{/spisak-auto-skola/obavestenja}" class="all">Vidi
			sva obaveštenja&nbsp;&raquo;</a>
	</div>
	<div class="row show-grid clear-both">
		<div class="span12">
			<div class="row show-grid">

				<div class="span3" th:each="notification : ${notifications}">
					<a class="block-post-title"
						th:href="@{'/spisak-auto-skola/' + ${notification.school.uniqueName} + '/obavestenja-auto-skole/obavestenje/' + ${notification.id}}"
						th:text="'Auto škola ' + ${notification.school.name} + ' - ' + ${notification.school.city}">Naziv
						skole</a> <a class="block-post-img"
						th:href="@{'/spisak-auto-skola/' + ${notification.school.uniqueName} + '/obavestenja-auto-skole/obavestenje/' + ${notification.id}}">
						<img alt="" style="height: 100px"
						th:src="@{'/resource?path=/drivingSchools/' + ${notification.school.id} + '/logo'}"
						class="img-rounded" />

					</a> <a class="block-post-title"
						th:href="@{'/spisak-auto-skola/' + ${notification.school.uniqueName} + '/obavestenja-auto-skole/obavestenje/' + ${notification.id}}"
						th:text="${notification.title}">Naslov</a>
					<p class="block-post-date"
						th:text="${#dates.format(notification.creationDate, 'dd/MM/yyyy HH:mm')}">July
						25, 2012</p>
					<p class="block-post-content" th:text="${notification.content}">Neki
						tekst</p>
					<a class="block-post-more"
						th:href="@{'/spisak-auto-skola/' + ${notification.school.uniqueName} + '/obavestenja-auto-skole/obavestenje/' + ${notification.id}}"
						href="#">Idi na obaveštenje&nbsp;&raquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>

<hr />