<ul class="pagination" ng-show="totalPages > 0">

	<li ng-class="paginationPrevious ? '' : 'disabled'"
		ng-click="paginationOnPage(currentPage-1)"><a href="">&lt;</a></li>

	<li ng-show="paginationFirst"
		ng-class="currentPage == 1 ? 'active' : ''"
		ng-click="paginationOnPage(1)"><a href="">1</a></li>

	<li ng-show="paginationLeftSeparator">...</li>

	<li ng-repeat="item in paginationItems"
		ng-click="paginationOnPage(item)"
		ng-class="item == currentPage ? 'active' : ''"><a href="">{{item}}</a>
	</li>

	<li ng-show="paginationRightSeparator">...</li>

	<li ng-show="paginationLast"
		ng-class="currentPage == totalPages ? 'active' : ''"
		ng-click="paginationOnPage(totalPages)"><a href="">{{totalPages}}</a></li>

	<li ng-class="paginationNext ? '' : 'disabled'"
		ng-click="paginationOnNext()"><a href="">&gt;</a></li>

</ul>