<div class="row">

	<div class="col-md-6">

		<div class="row">

			<div class="col-md-12">
				<h4>Pripremi se za polaganje vozačkog ispita brzo, jednostavno
					i zabavno!</h4>

				<hr />

			</div>

		</div>

		<div class="row">

			<div class="col-md-12">

				<h5>Registrovani korisnici</h5>
				<p>Registrovani korisnici koriste aplikaciju posebno prilagođenu
					svakom korisniku.</p>
				<a href="uloguj-se" class="btn btn-success">Uloguj se</a>

			</div>
			
			<!-- 

			<div class="col-md-6">

				<h5>Gosti</h5>
				<p>Neregistrovani korisnici mogu koristiti pojednostavljenu
					verziju aplikacije.</p>
				<a ui-sref="guest-prepare" class="btn btn-warning">Uči kao gost</a>

			</div>

			-->

		</div>

		<br />

		<div class="row">

			<div class="col-md-12">

				<hr />
				<p>
					Ukoliko niste registrovani, brzo i besplatno možete se registrovati
					klikom <a href="registruj-se">ovde</a>.
				</p>

			</div>

		</div>

	</div>

	<div class="col-md-6">

		<img ng-src="learningApp/assets/img/mxcpdriver_student.jpg" class="img-thumbnail" />

	</div>


</div>
